
*{
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    width:100%;
}
:root{
    --negro:rgb(13, 13, 14);
    --gris:rgb(41, 41, 41);
    --azul:rgb(0, 26, 226);
    --blanco:rgb(238, 238, 238);
    --naranja:rgb(255, 117, 3);
}
.contenedor{
    background-image: linear-gradient( rgb(0, 0, 0)0%, rgb(251, 251, 251)10%,
     rgb(240, 234, 234)100%);
    width:100%;
    overflow: hidden;
    transition: .5s;
    padding: 1px 0;
}
.main{
    width:100%;
    height:60px;
    background:black;
    /* border-bottom:double 4px rgb(255, 255, 255); */
    display: flex;
    align-items: center;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    transition: .8s;
    z-index: 100;
}
.nav{
    width: 100%;
    height: 80%;
    /* background: rgb(182, 126, 59); */
    margin: 5px auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.logo{
    width:150px;
    height:100%;
    position: relative;
    /* border:solid white 2px; */
    padding: 5px 0;
    left:-5%;
    border-radius: 10px;
    /* background: black; */

}
.logo_p{
    color: rgb(2, 11, 255);
    font-size: 35px;
    font-weight: bold;
    font-family:"Quantico";
    line-height: 35px;
    text-shadow: 0px 0px 2px  white;
    text-align: center;
    width: 100%;
    height:30px
}

.ul{
    width:50%;
    height:100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    right:-5%;
    transition: .5s;
}

.close{
    color: rgb(255, 0, 0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:solid transparent 1px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    background: rgb(1, 13, 150);
    box-shadow: -2px -2px 5px var(--ab),inset 2px 2px 5px var(--aoc),
    inset -2px -2px 5px var(--ab), 2px 2px 5px var(--aoc);
    display: none;
    position: absolute;
    margin-top:10px;
    margin-right:20px
}
.li{
    height:30px;
    width:150px;
    line-height: 30px;
    margin: 0 2px;
   list-style:none;
   border-bottom: 2px transparent solid;
}

.li a{
    width:100%;
    height:100%;
    border-radius: 5px;
    box-shadow: -2px -2px 5px var(--ab),inset 5px 5px 5px var(--aoc),
    inset -2px -2px 5px var(--ab), 2px 2px 5px var(--aoc);
    display:inline-block;
    transition: .5s;
    text-align: center;
    font-size: 18px;
    color:white;
    text-decoration: none;
}
.li:hover{
    border-bottom: 2px solid white;
}
.icono{
    width:20px;
    margin-left:10px ;
}
.menu{
    width:30px;
    position:absolute;
    right: 5%;
    font-size: 10px;
display: none;
transition: .5s;
}
.menu img{
    color: white;
}
/* ************************HEADER************************ */
.header{
    width:100%;
    height: 50vh;
    box-sizing: border-box;
    margin:10px auto;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.7)0%,rgba(0, 0, 0)50%,
    rgba(0, 0, 0)100%),
    url(imagenesPNG/DesarrolloSoftware.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  position: relative;
}
.perfil{
    width:100%;
    height:90%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 0;
    /* background-color: blue; */
}
.perfil_img{
    width:200px;
    height:200px;
    overflow: hidden;
    border-radius: 50%;
    /* box-shadow: 0px 0px 4px rgb(0, 50, 250); */
    display: flex;
    align-items: center;
    justify-content: center;


}
.perfil_img img{
    width:150%;
    /* height:100% */
}
.perf_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:60%;
    height:100px;
    text-align: center;
    /* background-color: bisque; */
}
.perf_text h2{
    width:100%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0 0 2px rgb(255, 255, 255);

}
.perf_text p{
    font-size: 20px;
    width:100%;
    color: rgb(255, 255, 255,.7);
    text-shadow: 0 0 2px white;
}
/* *****************************************cuerpo***************************** */
.cont_cuerpo{
    width: 100%;
    padding: 5px 0;
    margin: 10px auto;
}
.hh2{
    color:rgb(0, 0, 0);
    /* background: rgb(255, 255, 255); */
    padding: 20px 30px;
}
.hh2 i{
    color:blue;
    padding-left: 30px;
}
/* ********************************Proyectos************************* */
.cuerpo_proyecto{
    width:100%;
    display: flex;
    margin: 15px 0;
    flex-wrap: wrap;
}
.proyectos{
    width: 200px;
    height:350px;
    /* background: bisque; */
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
}

.calc_img{
    width:100%;
    height:50%;
    overflow: hidden;
}
.calc_img img{
    width:100%;
    height:100%
}

.proyectos h3{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.proyectos button{
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0);
    border-radius: 5px;
    border:none;
    transition: .5s;
}
.proyectos button a{
    color:rgb(255, 255, 255);
    font-size:12px;
    text-decoration: none;
    
}
.proyectos button:hover{
    background: rgb(32, 32, 32);
    transform: scale(1.1);
}
/* .proyectos a{
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
} */
.y-t{
    background-color: rgb(245, 243, 243);
    /* width:100%; */
    display: inline-block;
    padding: 5px ;
    margin: 5px;
}
.y-t i{
    color:red
}
.y-t a{
    color:rgb(243, 2, 2);
    font-size: 12px;
    text-shadow: 0 0 5px white;
    text-decoration: none;
}
.cont_digitos{
    width:100%;
    /* height:400px; */
    /* border:solid black 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.digitos{
    width:100%;
    /* height:90%; */
    text-align: center;
    font-size: 10px;
    background-color: black;
    /* font-weight: bold; */
    padding: 5px 0;
}
@keyframes animar{
    0%{color:rgb(127, 255, 0)}
    100%{color:rgb(18, 34, 2)}
}
/* **********************************CONOCIMIENTOS************************* */
.conocimientos{
    width:100%;
    /* border: solid red 2px; */
    display: flex;
    margin: 5px 0;
    padding: 5px;
    flex-wrap: wrap;
}
.cont_conocimientos{
    width:100px;
    height:100px;
    overflow: hidden;
    border-radius:3px;
    background:rgb(0, 50,150,.1);
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}
.h2{
    background-color: rgb(0, 50, 250,.1);
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 100%;
    margin: 10px auto;
    font-size: 30px;
}
.h2 i{
    color:rgb(0,50,250);
    padding-left: 40px;
}
.cont_conocimientos h3{
    text-align: center;
    /* background: chartreuse; */
    font-size: 20px;
    padding:1px;
    width: 100%;
    color: #000000;
}
.conocimiento_img{
    width:70%;
    height:60%;
    border-radius: 5px;
    overflow: hidden;
}
.conocimiento_img img{
    width:100%;
    height: 100%;
    /* background: white; */
}
/* *******************tutoriales******************* */
.tutoriales{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding:5px 0;
    margin: 5px auto;

}
.tutorial{
    width:350px;
    margin: 10px auto;
    /* border: solid black 1px; */
}
.tutorial h3{
    font-size: 25px;
}
.tutorial p a{
    font-size: 22px;
    color: rgb(4, 19, 131);
}

/* **************************SOBRE MI************************* */
.contenedor_my{
    /* background-color: rgb(0, 50, 150,.1); */
    position: relative;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:10px 0
}
.ul_sobre_mi{
    /* background-color: rgb(0, 42, 255); */
    width:50%;
    /* margin-bottom: 50px; */
}
.ul_sobre_mi span{
    /* background-color: rgb(235, 1, 1); */
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
}
.ul_sobre_mi ul{
    /* background-color: rosybrown; */
    /* padding:5px ; */
    margin:5px auto
}
.ul_sobre_mi ul li{
    /* border: solid blue 1px; */
    background-color: rgb(197, 202, 206,.3);
    margin: 5px auto;
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
}
.ul_sobre_mi li a{
    color: blue;
    text-decoration: none;
    /* width: 100%; */
}
.my_img{
    width:200px;
    height:200px;
    border:solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}
.my_img img{
    width:150%
}
.my_boton{
    /* background-color: blueviolet; */
    width:100%;
    height:25px;
    padding-left: 10px;
}
.sobre_my_btn{
    background-color: rgb(0, 0, 136);
    color:white;
    height:100%;
    width:150px;
    line-height: 20px;
    font-size: 15px;
    border-radius: 5px;
    border:none
    /* position: absolute;
    bottom: 0;
    left: 0; */
}
.ms_my{
    position: fixed;
    top:30vh;
    left:0;
    right:0;
    width:100%;
    /* height:100px; */
    background-color: rgb(255, 200, 0);
    text-align: center;
    font-size: 30px;
    padding:50px 0;
    /* line-height: 100px; */
    transform: translateX(200%);
    transition: .5s;
}
.ver_ms{
    transform: translateX(0%);

}

/* ********************************FOOTER*************************** */
.footer{
    width:100%;
    height:200px;
    background: rgb(0, 50, 150);
    /* padding: 5px 0; */
    margin: 5px 0;
    display: flex;
    align-items: center;
    position: relative;
}
.copy{
    width:80%;
    height:90%;
    /* background: cornsilk; */
    font-size: 20px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.copy a{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: italic;
    font-weight:inherit;
    font-size: 20px;
}
.copy p{
    width:100%;
    /* background-color: blueviolet; */
    font-size: 20px;
    text-align: center;
    color:white
}