*{
    max-width:1100px;
    margin:0 auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* box-sizing: border-box; */
}
body{
    margin: 0 ;
    width: 100%;
}
.contenedor{
    position: relative;
    width:100%;
    margin:0;
    overflow: hidden;
}
.main{
    position: fixed;
    top: 0;
    height:70px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom:double rgb(66, 1, 1) 5px;
    margin: 0 auto;
    z-index: 1000;
    transition: 1s;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:95%;
    margin: auto;
}
.logo{
    position: relative;
    left: -4%;
    width:80px;
    height:60px;
    background-color: rgb(17, 17, 17);
    overflow: hidden;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    transform: rotatey(15deg) skewY(-5deg) scale(.8);
    /* transform:scale(.8) */
}
.logo p{
    position: absolute;
    top: 0px;
    left: -14px;;
    width:100%;
    height:60px;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    background-color: transparent;
    transform: rotatey(180deg);
    font-weight: bold;
    text-shadow: 3px 1px 2px black;
}
.logo p::after{
    content: "R";
    position: absolute;
    top: 0px;
    left:-51px;
    width:100%;
    /* height:60px; */
    text-align: left;
    /* font-size: 50px; */
    line-height: 60px;
    background-color: transparent;
    transform:rotatey(-180deg) ;
}
.logo p::before{
    content: "T";
    position: absolute;
    top: -7px;
    left:7px;
    width:100%;
    height:50px;
    text-align: left;
    font-size: 55px;
    line-height: 60px;
    background-color: transparent;
}
/* -------------------------------MENU DE BAVEGACION---------------------------- */
.nav>ul>li{
    border-radius: 5px;
    height:22px;
    width:90px;
    padding:0px 4px;
    margin:0 5px;
    text-align: center;
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
    position: relative;
    list-style: none;
    cursor:pointer
}
.nav>ul>li:hover{
    background-color: rgb(61, 61, 61);

}
.nav_ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    right:-5% ;
    height: 50px;
}
.nav>ul>li:hover  ul{
    display: block;
}
.cerrar_nav{
    display: none;
    position: absolute;
    top: 20px;
    right: 50px;
    color:rgb(255, 0, 0);
    background-color: rgb(17,17,17);
    width: 30px;
    height:30px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
}
.nav_ul  ul li{
    position: relative;
    list-style: none;
    text-decoration: none;
    width: 120px;
    height:25px;
    padding-left: 5px;
    left:-35px;
    top: 0;
}
.nav ul li ul{
    display: none;
    text-align: left;
    width: 80px;
    position: absolute;
    top: 21px;
    left: -5px;
    z-index: 100;
    /* font-size: 18px; */
}
.nav ul li ul li{
    overflow: hidden;
    background-color: rgb(17,17,17);
    margin:2px 0px;
    height:25px;
    line-height: 25px;
}
.nav ul li ul li:hover{
    background-color: rgb(61, 61, 61);
}
.nav ul li a{
    text-decoration: none;
    text-align: left;
    color:rgb(255, 255, 255);
    height:25px;
    font-size: 15px;
    line-height: 15px;
    padding-right: 100%;
    width:200px
}
.menu{
    display: none;
    width:60px;
    height:30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight:bold;
    margin-right:5px;
    background-color: rgb(34, 36, 36);
    border: none;
    color: rgb(255, 255, 255,.9);
}

/* ---------------------------HEADER-------------------------- */
.contenedor_header{
    position: relative;
    margin: 0px 0px;
    width:100%;
    height: 450px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7)0%, rgba(0, 0, 0, 0.7)100%),
     url(imagenes/rolando2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}
.header_description{
    position: absolute;
    top:80px;
    left:1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:570px;
    height:200px;
    overflow: hidden;

}
.header_description,
.header_redes{
    /* background:rgba(194, 22, 22, 0.1); */
    color: rgb(255, 255, 255);
    border-radius: 5px;
    /* font-size: 35px; */
    flex-wrap: wrap;
    overflow: hidden;
    padding: 5px;

}

.header_description h1{
    width:100%;
    /* height:25px; */
    margin: 5px 0px;
    font-size: 18px;
    /* font-weight: bold; */
    font-family: 'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif ;
    font-style: oblique;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.header_redes{
    position: absolute;
    left:25px;
    bottom:10px;
    width:100px;
    height:30px;
    display: flex;
    /* background:blue */
}
.header_redes  i{
    /* color: rgb(228, 84, 84); */
    font-size: 25px;
    border-radius: 50%;
    height:25px;
    width: 25px;
    line-height: 25px;
    z-index: 100;
}
.twitter{
    color: rgb(39, 138, 224);
/* text-decoration: none; */
}
.facebook{
    color: rgb(4, 24, 177);
}
.header_information{
    position: absolute;
    right: 25%;
    top:150px;
    width:500px;
    color: aliceblue;
background-color:transparent;
    /* height:200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_information p{
    text-align: center;
    font-size: 18px;
    font-style: italic;
    width: 100%;

    /* height:25px; */
    line-height: 25px;
    /* background-color: greenyellow; */
    margin: 2px auto;
    /* padding-left: 5px; */
    text-shadow: 1px 1px 2px black;

}
.hpp{
    margin: 5px auto;
    width:100%;
    text-shadow: 1px 1px black;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    text-decoration:underline;
}
.img{
    position: relative;
    margin: 0 ;
    width:90px;
    height:85px;
    border-radius: 50%;
    overflow: hidden;
    border: double rgb(66, 1,1) 5px;

    /* box-shadow: 0  5px  blue; */
}
.img img{
    position: relative;
    top: 0px;
    width:100%;
    height:105%;
    /* margin-left: 2px; */
}
.cara_img{
    position: absolute;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.9)0%,
     rgb(255, 255, 255, 0.1)50%, rgb(0, 0, 0, 0.9)100%);
    width:90px;
    height:85px;
    top: 0;
    left: 0;
}
/* ----------------------BANNER------------------------------------ */
.banner{
    margin: 5px auto;
    width:100%;
    height:40px;
    /* background:lime; */
    text-align: center;
    transition: 1.5s;

}
#banner{
    transition: 1.5s;

}
.banner p{
    font-size: 30px;
    font-style: italic;
    color: rgb(253, 253, 255);
    height:100%;
    background:linear-gradient(to right, rgb(255, 255, 255)0%,rgb(0, 0, 0)50%,
    rgb(255, 255, 255)100%) ;
    line-height: 40px;
    text-shadow: 1px  1px  5px rgb(0, 0, 0);


}

.pa_tres,.pa_dos{
    display: none;

}
/* -------------------PRIMERA SECCION------------------------------- */
.seccion_cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    width:100%;
    overflow: hidden;
}
.seccion_uno{
    padding: 5px 0;
    /* background: brown; */

}
.conocimientos{
    position: relative;
    right:-20%;
    /* background:rgb(33, 140, 255) ; */
    border-radius: 5px;
    width:50%;
    height:150px;
    padding:5px;
    box-shadow: 4px 4px 7px black;
}
.conocimientos h3{
    background-image: linear-gradient(to right,rgb(0, 0, 0),rgb(255, 255, 255),rgb(0, 0, 0) );
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}
.conocimientos li{
    margin: 2px;
    font-size: 18px;
    height:18px;
    line-height: 18px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
   color: rgb(0, 0, 0);
}
.seccion_uno,.seccion_dos{
    width:90%;
    margin:1px auto;
    font-size: 15px;
    padding: 10px 0;

}

.seccion_dos{
    position: relative;
    left: 0;
    /* background: blueviolet; */
    height: 140px;
}
.servicios{
    position: absolute;
    left: 2%;
    width:40%;
    /* height: 100px; */
    padding: 5px;
    box-shadow: 4px 4px 7px black;
    /* background:rgb(8, 140, 255) ; */
    border-radius: 5px;
}
.servicios h3{
    background-image: linear-gradient(to right,rgb(0, 0, 0),rgb(255, 255, 255),rgb(0, 0, 0) );
    text-align: center;
    width:90%;
    height:25px;
    font-size: 20px;
    line-height: 25px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);

    color: rgb(0, 0, 0);

}
.servicios li{
    /* background-color: darkblue; */
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    margin: 5px 0;
    padding: 2px 0;
    /* height: 15px; */
    line-height: 15px;
    font-size: 20px;
}
.servicios_img{
    width:200px;
    height:150px;
    overflow: hidden;
}
.servicios_img img{
    width:120%;
    height:120px;
    /* margin: 5px; */
    /* height:100% */
}

/* -------------------------CUERPO---------------------------- */
.cuerpo_hr{
    height:5px;
    width:90%;
    border-radius: 10px;
    /* border: solid black 2px; */
    border: none;
    background-image:linear-gradient(rgb(66, 1, 1)0%,rgb(66, 1, 1,.5)50%,rgb(66, 1, 1)100%) ;
    margin: 5px auto;
}
.cuerpo{
    width:100%;
    position: relative;
    /* background-color: rgb(179, 185, 255); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px auto;
    padding-bottom: 20px;
}
.cuerpo_uno{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    width:90%;
    margin-left: 5%;
    padding: 20px 0;
    /* background: cornsilk; */

}
.reloj{
    width:270px;
    height:200px;
    overflow: hidden;
    border-radius: 10px;
    transition: .3s;
    transform:scale(.9)
}
.reloj:hover{
    transform: rotate(1deg) scale(1);
    
}
.reloj img{
    width:100%;
    height: 100%;
}
.cuerpo_uno p{
    width:50%;
    padding: 5px;
    font-size: 18px;
    font-style: italic;
    /* background-color: royalblue; */
}
.cuerpo_dos{
    position: relative;
    right:-20%;
    top:-2px;
    width:40%;
    background-color: rgb(0, 0,0);
    border-radius: 10px;
    margin: 5px auto;
    padding: 10px;
    z-index: 20;
}
.cono{
    width: 50px;
    height: 40px;
    position: absolute;
    bottom: 12px;
    right: 35%;
    transform: rotate(30deg);
    background-color: rgb(0, 0,0);
}
.cuerpo_dos p{
    font-size: 15px;
    color:rgb(255, 255, 255,.8);
    /* text-shadow: 1px 1px 1px white; */
    font-family:'Courier New', Courier, monospace;
   font-style: italic;
   font-weight: bold;
   z-index: 100;
}
.aqui{
    color:blue;
    font-size: 18px;
}
/* **************************UN ESPACIO PARA LA FORTUNA************************ */
.contenedor_img{
    width:100%;
    /* height:250px; */
    padding: 5px 0;
    margin: 20px auto;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5)0%,rgb(0, 0, 0,.9)100%), 
    url(imagenes/junta_fondo.png);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    /* background-position-x: 0; */
    /* background-position-y: 0; */
    background-attachment: fixed;
}
.contenedor_img h3{
    width:100%;
    background-image: linear-gradient(to right,rgb(255, 255, 255),rgb(0, 0, 0),rgb(255, 255, 255));
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    height:30px;
    text-align: center;
    font-size: 22px;
    font-style: italic;
    margin: 10px 0;
    line-height: 25px;
    box-sizing: border-box;
    border-bottom: rgb(66, 1, 1) solid 4px;
}
.imagenes{
    margin:5px auto;
    width:90%;
    /* height: 190px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: rgba(202, 94, 94, 0.8); */
    overflow: hidden;
    position: relative;

}
.cont_img{
    background-color: rgb(255, 255, 255);
    width:120px;
    overflow: hidden;
    /* height:150px; */
    margin:15px;
    border-radius: 5px;
    box-shadow: 4px 4px 6px black;
    transition: all .2s;
    transform: scale(.7);
    
}
.cont_img:hover{
    transform: scale(1.1);
    background-color: rgb(189, 190, 194);
    /* margin-top:-2px */
}
.parrafo{
    width:90%;
    /* background-color: chartreuse; */
    margin: 15px auto;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    /* transition: 1s; */
    color: rgb(3, 32, 148);
}
.parrafo:hover{
    text-decoration: none;
    color:rgb(2, 53, 255)
}

.imagen{
width:60px;
height:60px;
border-radius: 50%;
overflow: hidden;

}
.fot{
    width:100%;
    height:100%;
    transition: all  .2s;
    /* visibility: hidden; */
    /* transform: scale(0); */

}
.imagen:hover .fot{
transform:scale(1.2);

}


/* --------------------------FOOTER------------------- */

.contenedor_footer{
    width:100%;
    /* height:200px; */
    /* position:absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(0, 0, 0);
    margin-bottom: 20px;
}
footer{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.footer_contacto{
    width:30%;
    height:90px;
    /* background: cadetblue; */
    /* line-height: 90px; */
}
.footer_contacto h3{
/* background: darkgoldenrod; */
width:100%;
height:30px;
line-height: 30px;
font-size: 20px;
color: cornsilk;
}
.footer_contacto i{
    /* background: darkgoldenrod; */
    width: 100%;
    /* height:20px; */
    line-height: 20px;
    font-size: 18px;
    margin:0 auto;
    color: rgb(255, 255, 255);
}
.footer_copyright{
    width:50%;
    /* height:60px; */
    /* background: cyan; */
    padding: 5p
}
.footer_copyright span{
    /* background: darkgoldenrod; */
    /* height: 30px; */
    font-size: 20px;
    padding:5px 0;
    margin:5 auto;
    /* line-height: 60px; */
    color: white;
}
.footer_copyright i{
    /* background: chartreuse; */
    color: cornsilk;
}
.copy{
    /* background: darkgoldenrod; */
    width:100%;
    height:100px;
    text-align: center;
    line-height: 100px;
    color: white;
}
.copy a{
    color: rgb(255, 255, 255);
   font-size: 15px;
   font-style: italic;
}




