
*{
    /* padding: 0; */
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    width:100%;
}
.contenedor{
    /* background: rgb(221, 183, 183); */
    width:100%;
    overflow: hidden;
    transition: .5s;
}
.main{
    width:100%;
    height:60px;
    background: rgb(0, 50, 150);
    border-bottom:double 4px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    transition: .8s;
    z-index: 100;
}
.nav{
    width: 100%;
    height: 80%;
    /* background: rgb(182, 126, 59); */
    margin: 5px auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.logo{
    width:130px;
    height:100%;
    position: relative;
    left:-5%;
    border-radius: 10px;
}
.logo_p{
    color: rgb(0, 0, 0,.9);
    font-size: 35px;
    font-weight: bold;
    font-family:"Quantico";
    line-height: 35px;
    text-shadow: 1px 1px  rgb(255, 255, 255);
    width: 100%;
    height:30px
}
.R,.l{
    color: rgb(0, 0, 0);
    width: 10px;
    font-size: 35px;
    margin: 0;
    padding-left: -5px;
    text-shadow: 0 0 2px rgb(255, 255, 255);
    font-family: 'Playball', cursive;
}
.comm{
    height:20px;
    width:100%;
    font-size: 25px;
    line-height: 10px;
    text-align: right;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgb(2, 2, 83);
    font-family:"Quantico";
}
.ul{
    width:50%;
    height:100%;
    display: flex;
    position: relative;

    align-items: center;
    justify-content: space-between;
    right:-5%;
    transition: .5s;
}
.sub_ul{
    /* background-color: rgb(0, 0, 90); */
    /* display: none; */
    position: absolute;
    width:200px;
    height:0px;
    overflow: hidden;
    padding: 0 5px;
    top: 30px;
    left: 0;
    /* border-bottom: solid transparent 2px; */
    /* border-bottom-style:groove; */
    transition: .5s;
    border-radius: 5px;
    z-index: 100;
}
.sub_ul li{
    margin: 5px 0;
    border-radius: 5px;
}
.sub_ul li a{
text-align: left;
/* background-color: bisque; */
margin-left: 0px;
padding: 0 4px;
}
.ul li{
    list-style: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}
.ul li a{
    color: white;

}
.ul li:hover{
    background-color: rgb(0, 50, 150);
}
.li:hover .sub_ul{
    height:200px
} 
.close{
    color: rgb(255, 0, 0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:solid transparent 1px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    background: rgb(1, 13, 150);
    box-shadow: -2px -2px 5px var(--ab),inset 2px 2px 5px var(--aoc),
    inset -2px -2px 5px var(--ab), 2px 2px 5px var(--aoc);
    display: none;
    position: absolute;
    margin-top:10px;
    margin-right:20px
}
.li{
    height:30px;
    width:150px;
    /* padding: 0 15px; */
    line-height: 30px;
    position: relative;
    /* list-style: none; */
    /* border-bottom: solid transparent 2px; */
    /* background-color: bisque; */
    /* border-bottom-style:groove; */
    transition: .8s;
 
}
:root{
    --az:rgb(0,50,150);
    --ab:rgb(6, 89, 255);
    --aoc:rgb(1, 26, 78);
}
.li>a{
    background-color: var(--az);
    width:100%;
    height:100%;
    border-radius: 5px;
    box-shadow: -2px -2px 5px var(--ab),inset 5px 5px 5px var(--aoc),
    inset -2px -2px 5px var(--ab), 2px 2px 5px var(--aoc);
    /* display:block; */
    transition: .5s;
}
.li>a:hover{
    transform: scale(.9);
}
.icono{
    width:20px;
    margin-left:10px ;
}
/* .ul>li{
    position: relative;
} */
/* .ul li:hover{
    border-bottom: solid rgb(255, 255, 255) 2px;
} */
/* .ul>li:hover ul{
    display: block;
} */
.ul a{
    height: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.menu{
    width:30px;
    position:absolute;
    right: 5%;
    font-size: 10px;
display: none;
transition: .5s;
}
.menu img{
    color: white;
}
/* ************************HEADER************************ */
.header{
    width:100%;
    height: 50vh;
    box-sizing: border-box;
    margin:20px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)0%,rgba(0, 0, 0, 0.7)100%),
    url(imagenesPNG/DesarrolloSoftware.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  position: relative;
}
.perfil{
    width:100%;
    height:90%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
.perfil_img{
    width:200px;
    height:190px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgb(0, 50, 250);
}
.perfil_img img{
    width:100%;
    height:100%
}
.perf_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    height:100px;
    text-align: center;
}
.perf_text h2{
    width:100%;
    font-size: 40px;
    color: white;
    font-weight: bold;
}
.perf_text h2 span{
    color: rgb(0, 42, 255);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}
.perf_text p{
    font-size: 30px;
    width:100%;
    color: rgb(255, 255, 255);
}
/* *****************************************cuerpo***************************** */
.cont_cuerpo{
    width: 100%;
    padding: 5px 0;
    margin: 10px auto;
}
.cuerpo_h2 i{
    color:rgb(0, 50, 250);
    padding-left: 40px;
}
/* ********************************servicios************************* */
.cuerpo_proyecto{
    width:100%;
    display: flex;
    margin: 15px 0;
    flex-wrap: wrap;
}
.proyecto_uno{
    width: 200px;
    height:350px;
    /* background: bisque; */
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
}
.calc_img{
    width:100%;
    height:60%;
    overflow: hidden;
}
.calc_img img{
    width:100%;
    height:100%
}

.proyecto_uno h3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.proyecto_uno button{
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0);
    border-radius: 5px;
    border:none;
    transition: .5s;
}
.proyecto_uno button:hover{
    background: rgb(32, 32, 32);
    transform: scale(1.1);
}
.proyecto_uno a{
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}
/* **********************************CONOCIMIENTOS************************* */
.conocimientos{
    width:100%;
    /* border: solid red 2px; */
    display: flex;
    margin: 5px 0;
    padding: 5px;
    flex-wrap: wrap;
}
.cont_conocimientos{
    width:100px;
    height:100px;
    overflow: hidden;
    border-radius:3px;
    background:rgb(0, 50,150,.1);
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}
.h2{
    background-color: rgb(0, 50, 250,.1);
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 100%;
    margin: 10px auto;
    font-size: 30px;
}
.h2 i{
    color:rgb(0,50,250);
    padding-left: 40px;
}
.cont_conocimientos h3{
    text-align: center;
    /* background: chartreuse; */
    font-size: 20px;
    padding:1px;
    width: 100%;
    color: #000000;
}
.conocimiento_img{
    width:70%;
    height:60%;
    border-radius: 5px;
    overflow: hidden;
}
.conocimiento_img img{
    width:100%;
    height: 100%;
    /* background: white; */
}
/* *******************tutoriales******************* */
.tutoriales{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding:5px 0;
    margin: 5px auto;

}
.tutorial{
    width:350px;
    margin: 10px auto;
    /* border: solid black 1px; */
}
.tutorial h3{
    font-size: 25px;
}
.tutorial p a{
    font-size: 22px;
    color: rgb(4, 19, 131);
}

/* **************************SOBRE MI************************* */
.contenedor_my{
    /* background-color: rgb(0, 50, 150,.1); */
    width:100%;
}
.ul_sobre_mi{
    /* background-color: rgb(0, 42, 255); */
    width:50%
}
.ul_sobre_mi span{
    /* background-color: rgb(235, 1, 1); */
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
}
.ul_sobre_mi ul{
    /* background-color: rosybrown; */
    /* padding:5px ; */
    margin:5px auto
}
.ul_sobre_mi ul li{
    /* border: solid blue 1px; */
    background-color: rgb(197, 202, 206,.3);
    margin: 5px auto;
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
}
.ul_sobre_mi li a{
    color: blue;
    text-decoration: none;
    /* width: 100%; */
}

/* ********************************FOOTER*************************** */
.footer{
    width:100%;
    height:200px;
    background: rgb(0, 50, 150);
    /* padding: 5px 0; */
    margin: 5px 0;
    display: flex;
    align-items: center;
    position: relative;
}
.copy{
    width:80%;
    height:90%;
    /* background: cornsilk; */
    font-size: 20px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.copy a{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: italic;
    font-weight:inherit;
    font-size: 20px;
}
.copy p{
    width:100%;
    /* background-color: blueviolet; */
    font-size: 20px;
    text-align: center;
    color:white
}