
@media(max-width:900px){
    .logo{
        /* width:90%; */
        left:1%
    }
    .nav_ul{
        margin-right:0%
    }
    .servicios{
        width:50%
    }
    .footer_copyright{
        width:60%
    }
}
@media (max-width:750px) {
    .nav>ul>li{
        font-size: 18px;
    }
    .nav ul li a{
        font-size: 18px;

    }
    .header_information{
        width:400px;
        top:150px
    }
    .banner p{
        font-size:25px
    }
    .seccion_cont{
        flex-direction: column;
    }
    .seccion_uno,.seccion_dos{
        width:100%
    }
    .servicios{
        width:60%;
        left:10%
    }
    .cuerpo{
        flex-direction: column;
    }
    .cuerpo_uno{
        flex-direction: column;
        width:90%
    }
    .reloj{
        width:250px;
        height:150px
    }
    .cuerpo_uno p{
        width:90%
    }
    .cuerpo_dos{
        width:50%
    }
    .contenedor_img h3{
        width:100%
    }
}
@media (max-width:650px) {
    .nav_ul{
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgb(0, 0, 0);
        overflow: scroll;
        transform: translate(-200%);
        transition: 1s;
    }
    .mostrar_nav{
        transform: translate(0%);

    }
    .cerrar_nav{
        display: block;
    }
    .nav_ul li{
        left:-20%;
    }
    .nav>ul>li{
        width:200px

    }
    .nav ul li ul{
        left:100px
    }
    .logo{
        left:-200px
    }
    .menu{
        position: absolute;
        display: block;
        right: 100px;
    }
    .header_description{
        height:150px;
        width:250px
    }

    .header_description p, .hp{
     font-size: 20px;
     margin: 0px;
    }
    .header_information{
        left:20%
    }
    .header_redes{
        left:90%;
        bottom: 200px;
        height: 100px;
        width:50px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .conocimientos{
        width:80%;
        right:5%
    }
    .servicios{
        left: 25%;
        width:70%
    }
    .cont_img{
        width:200px;
        /* height:250px */
    }
    .contenedor_footer footer{
        width:100%
    }
    footer {
        flex-direction: column;
    }
    .footer_contacto{
        width:90%
    }
    .footer_copyright{
        width:90%
    }

}
@media (max-width:500px) {
    .logo{
        left:-25%
    }
    .header_information{
        left:7%
    }
    /* .header_redes{
        left:70%
    } */
    .banner p{
        font-size: 18px;
    }
    .conocimientos{
        width:95%;
        left:0%
    }
    .servicios{
        width:90%;
        left:2%
    }
    .cuerpo_dos{
        width:80%;
        left:1%
    }
    .contenedor_img h3{
        font-size: 20px;
    }
    .imagenes{
        /* background: blue; */
        width: 100%;
    }
    .cont_img{
        width:220px;
        margin: 0;
    }
    .imagen{
        width:120px;
        height: 120px;
    }

}
@media (max-width:390px) {
    .logo{
        left:-30%
    }
    .menu{
        right:10%
    }
    .header_redes{
        height: 100px;
        width:50px;
        /* top:200px; */
        left:79%;
        flex-direction: column;
    }
    .header_information{
        left:0%;
        width:95%;
        /* height: 240px; */
        /* background: red; */
    }
    .cont_img{
        width:100%;
        height:200px
    }
    .cont_img img{
        width:100%;
        height:140px
    }
    .seccion_dos{
        background: blue;
        width: 100%;
    }
    .contenedor_img h3{
        font-size: 18px;
    }
.servicios{
    left: 0%;
    width: 100%;
}
.servicios li{
    font-size: 18px;
    list-style: none;

}
.cuerpo_uno{
    flex-direction: column;
    margin-left: 0;
    width:100%
}
.reloj{
    width:100%
}
.footer_copyright span{
    font-size: 15px;
}
    /* pagina videos */
    .videos{
        width:100%
    }
    .vi{
        width:80%
    }

    /* .light_img{
        width:100%
    } */
}